@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001a49;
}

body{
    font-family: 'Poppins', sans-serif;
    

}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container)
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;

}

.hero::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../images/growtika-developer-marketing-agency-ZfVyuV8l7WU-unsplash.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    z-index: -1;


}

/* INICIA NAV */

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav_title{
    font-weight: 300;
}

/* MENU DE NAVEGACION */


.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

/* PARA QUITAR EL ESTILO DE LISTAS DE NAV LINK MENU ( INICIO, ACERCA DE, CONTACTO)*/

.nav_items{
    list-style: none;
}


.nav_links{
    color:#fff;
    text-decoration: none;
    
}

/* PARA DESAPARECER EL ITEM MENU*/

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

/* PARA DESAPARECER EL ITEM CLOSE*/

.nav_close{
    display: var(--show, none);
}

/* TERMINA NAV */

/* HERO_CONTAINER*/

.hero_container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title{
    font-size: 3rem;
}

.hero_paragrapgh{
    margin-bottom: 20px;
}


/* BOTON INICIO*/

.cta{
    display:inline-block;
    background-color: #2091F9;
    justify-self: center;
    color:#fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}


/* ABOUT */

.about{
    text-align: center;
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_paragraph{
    line-height: 1.7;
}

.about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;

}

.about_icon{
    width: 40px;
}

/* MAIN*/

.body_main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: felx;
    align-items: center;
    justify-content: center;
}

h1{
    margin-bottom: 2rem;
    text-align: center;
}

.content{
    width: 40%;
    margin: 0 auto;
}


canvas{
    max-width: 100%;
}

.ian{
    font-family: sans-serif;
    font-size: large;
    color:#001a49;
}
